<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        <section class="footer" style="background-color: rgb(241, 248, 249);">

            <div class= "social text-center" >

                <a href="https://www.instagram.com" class="btn btn-link btn-floating btn-lg text-dark m-3" ><i class="fa fa-instagram"></i></a>
                <a href="https://www.google.com" class="btn btn-link btn-floating btn-lg text-dark m-3" ><i class="fa fa-google"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100017672497331" class="btn btn-link btn-floating btn-lg text-dark m-3" ><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com" class="btn btn-link btn-floating btn-lg text-dark m-3" ><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com" class="btn btn-link btn-floating btn-lg text-dark m-3" ><i class="fa fa-linkedin"></i></a>
                
            </div>
            
            <p  class="copyright text-center mt-1">
                 <a routerLink="">College Management System @ 2023 </a>
            </p>
        </section>
    </body>
</html>
