<h2 class="text-center">Teacher List</h2>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <!-- <th>Contact</th>
            <th>User Name</th>
            <th>Password</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of teachers">
            <td>{{teacher.id}}</td>
            <td>{{teacher.firstName | titlecase}}</td>
            <td>{{teacher.lastName | titlecase}}</td>
            <td>{{teacher.email}}</td>
            <!-- <td>{{teacher.contact}}</td>
            <td>{{teacher.userName}}</td>
            <td>{{teacher.password}}</td> -->
            <td><button class="btn btn-info" (click)="updateTeacher(teacher.id)">Edit</button></td>
            <td><button (click)="deleteTeacher(teacher.id)" class="btn btn-danger">Delete</button></td>
            <td><button  class="btn btn-info"  (click)="viewTeacher(teacher.id)">View</button></td>
        </tr>
    </tbody>
</table>

</div>