<h2 class="text-center">Course List</h2>
<div class="container">
<table class="table table-striped">
<thead>
    <tr>
        <th>SubId</th>
        <th>SubName</th>
        <th>Price</th>
        
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let course of courses">
    <td>{{course.subId}}</td>
    <td>{{course.subName}}</td>
    <td>{{course.price}}</td>
   
    <td><button (click)="updateCourse(course.subId)" class="btn btn-info">Edit</button></td>
    <td><button (click)="deleteCourse(course.subId)" class="btn btn-danger">Delete</button></td>
    <td><button  class="btn btn-info"  (click)="getcourseById(course.subId)">View</button></td>
    </tr>
</tbody>
</table>
</div>